In [ ]:
from acquire_zillow import save_df

save_df()

In [ ]:
from acquire_mall import get_mall_data
df = get_mall_data()

In [ ]:
%matplotlib inline

In [ ]:
df = df.set_index('customer_id')
df.head(10)

In [ ]:
df.gender.value_counts().plot.bar()

In [ ]:
df.age.plot.hist()

In [ ]:
df.annual_income.plot.hist()

In [ ]:
df.spending_score.plot.hist()

In [ ]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

get_upper_outliers(df['annual_income'], 1.5)

In [ ]:
df.head(10)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encode the gender using a sklearn label encoder.
encoder = LabelEncoder()
encoder.fit(df.gender)
df['gender_id'] = encoder.transform(df.gender)
df.gender_id

In [ ]:
df.head(10)

In [ ]:
from summarize import summarize_data

In [ ]:
summarize_data(df)

In [42]:
import pandas as pd

def join_zillow_data():
    # The FOUR HORSEMEN of the Apocalypse
    prop6_df = pd.read_csv('properties_2016.csv', low_memory=False)
    prop7_df = pd.read_csv('properties_2017.csv', low_memory=False)
    pred6_df = pd.read_csv('predictions_2016.csv', low_memory=False)
    pred7_df = pd.read_csv('predictions_2017.csv', low_memory=False)

    # Join predictions and properties together
    df6 = pd.merge(pred6_df, prop6_df, on='parcelid', how='inner')
    df7 = pd.merge(pred7_df, prop7_df, on='parcelid', how='inner')

    # Join 2016 and 2017 data together
    df = pd.concat([df6, df7])

    return df

df = join_zillow_data()

In [43]:
df.head(10)

,parcelid,logerror,transactiondate,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,propertylandusedesc,storydesc,typeconstructiondesc,heatingorsystemdesc
0,11016594,0.0276,2016-01-01,2931667,1.0,NaN,NaN,2.0,3.0,NaN,...,NaN,NaN,6.037107e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
1,14366692,-0.1684,2016-01-01,475764,NaN,NaN,NaN,3.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,2444575,1.0,NaN,NaN,3.0,2.0,NaN,...,NaN,NaN,6.037464e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
3,12643413,0.0218,2016-01-02,1584730,1.0,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,6.037296e+13,Central,NaN,NaN,Condominium,NaN,NaN,Central
4,14432541,-0.0050,2016-01-02,2926916,NaN,NaN,NaN,2.5,4.0,NaN,...,NaN,NaN,6.059042e+13,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
5,11509835,-0.2705,2016-01-02,2843942,1.0,NaN,NaN,4.0,4.0,NaN,...,NaN,NaN,6.037621e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
6,12286022,0.0440,2016-01-02,1628001,NaN,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,6.037542e+13,NaN,NaN,NaN,Single Family Residential,NaN,NaN,Floor/Wall
7,17177301,0.1638,2016-01-02,2543293,NaN,NaN,NaN,2.5,3.0,NaN,...,NaN,NaN,6.111003e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN
8,14739064,-0.0030,2016-01-02,519006,NaN,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,6.059042e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN
9,14677559,0.0843,2016-01-03,1604540,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,6.059063e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN

In [44]:
# only include properties that include a latitude and longitude value
df = df.dropna(subset = ['latitude', 'longitude'])

In [45]:
df.latitude.isna().sum()

0

In [46]:
df.longitude.isna().sum()

0

In [47]:
df.shape

(167854, 68)

In [48]:
df['unitcnt'].value_counts(dropna=False)

 1.0      101916
NaN        58798
 2.0        4385
 4.0        1597
 3.0        1148
 6.0           2
 45.0          1
 11.0          1
 237.0         1
 42.0          1
 5.0           1
 9.0           1
 143.0         1
 70.0          1
Name: unitcnt, dtype: int64

In [52]:
# include only single unit properties (e.g. no duplexes, no land/lot, ...)
df = df.loc[(df['unitcnt'] == 1) | ((df['bathroomcnt'] >= 1) & (df['bathroomcnt'] <= 7))]

In [53]:
df['unitcnt'].value_counts(dropna=False)

 1.0      101916
NaN        57757
 2.0        4024
 4.0        1224
 3.0        1056
 6.0           2
 11.0          1
 143.0         1
 70.0          1
Name: unitcnt, dtype: int64

In [54]:
# takes in a dataframe and a list of columns names and returns the
# dataframe with the datatypes of those columns changed to a non-numeric type
def convert_to_string(df, *cols):
    for col in cols:
        df[col] = df[col].astype(str)
    return df

convert_to_string(df, 'id', 'airconditioningtypeid', 'architecturalstyletypeid', 'buildingclasstypeid',
                  'buildingqualitytypeid', 'decktypeid', 'fips', 'hashottuborspa', 'heatingorsystemtypeid',
                  'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertylandusetypeid', 'rawcensustractandblock',
                  'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'storytypeid',
                  'typeconstructiontypeid', 'fireplaceflag', 'taxdelinquencyflag' ).head(10)

,parcelid,logerror,transactiondate,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,propertylandusedesc,storydesc,typeconstructiondesc,heatingorsystemdesc
0,11016594,0.0276,2016-01-01,2931667,1.0,nan,NaN,2.0,3.0,nan,...,nan,NaN,6.037107e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
1,14366692,-0.1684,2016-01-01,475764,nan,nan,NaN,3.5,4.0,nan,...,nan,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,2444575,1.0,nan,NaN,3.0,2.0,nan,...,nan,NaN,6.037464e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
3,12643413,0.0218,2016-01-02,1584730,1.0,nan,NaN,2.0,2.0,nan,...,nan,NaN,6.037296e+13,Central,NaN,NaN,Condominium,NaN,NaN,Central
4,14432541,-0.0050,2016-01-02,2926916,nan,nan,NaN,2.5,4.0,nan,...,nan,NaN,6.059042e+13,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
5,11509835,-0.2705,2016-01-02,2843942,1.0,nan,NaN,4.0,4.0,nan,...,nan,NaN,6.037621e+13,Central,NaN,NaN,Single Family Residential,NaN,NaN,Central
6,12286022,0.0440,2016-01-02,1628001,nan,nan,NaN,1.0,2.0,nan,...,nan,NaN,6.037542e+13,NaN,NaN,NaN,Single Family Residential,NaN,NaN,Floor/Wall
7,17177301,0.1638,2016-01-02,2543293,nan,nan,NaN,2.5,3.0,nan,...,nan,NaN,6.111003e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN
8,14739064,-0.0030,2016-01-02,519006,nan,nan,NaN,1.0,2.0,nan,...,nan,NaN,6.059042e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN
9,14677559,0.0843,2016-01-03,1604540,nan,nan,NaN,2.0,2.0,nan,...,nan,NaN,6.059063e+13,NaN,NaN,NaN,Condominium,NaN,NaN,NaN

In [63]:
def missing_values_col(df):
    '''
    Write or use a previously written function to return the
    total missing values and the percent missing values by column.
    '''
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_value = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_value / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_value': nan_value, 'nan_percentage': nan_percentage})


missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_value,nan_percentage
parcelid,0,0.000000,0,0.0,0,0.000000
logerror,0,0.000000,0,0.0,0,0.000000
transactiondate,0,0.000000,0,0.0,0,0.000000
id,0,0.000000,0,0.0,0,0.000000
airconditioningtypeid,0,0.000000,0,0.0,112271,67.640467
architecturalstyletypeid,0,0.000000,0,0.0,165514,99.718042
basementsqft,165892,99.945777,0,0.0,0,0.000000
bathroomcnt,0,0.000000,0,0.0,0,0.000000
bedroomcnt,0,0.000000,0,0.0,0,0.000000
buildingclasstypeid,0,0.000000,0,0.0,165966,99.990360
buildingqualitytypeid,0,0.000000,0,0.0,59043,35.571929
calculatedbathnbr,115,0.069285,0,0.0,0,0.000000
decktypeid,0,0.000000,0,0.0,164720,99.239677
finishedfloor1squarefeet,153129,92.256389,0,0.0,0,0.000000
calculatedfinishedsquarefeet,27,0.016267,0,0.0,0,0.000000
finishedsquarefeet12,6721,4.049234,0,0.0,0,0.000000
finishedsquarefeet13,165953,99.982528,0,0.0,0,0.000000
finishedsquarefeet15,159680,96.203203,0,0.0,0,0.000000
finishedsquarefeet50,153129,92.256389,0,0.0,0,0.000000
finishedsquarefeet6,165619,99.781302,0,0.0,0,0.000000
fips,0,0.000000,0,0.0,0,0.000000
fireplacecnt,148168,89.267511,0,0.0,0,0.000000
fullbathcnt,115,0.069285,0,0.0,0,0.000000
garagecarcnt,110960,66.850622,0,0.0,0,0.000000
garagetotalsqft,110960,66.850622,0,0.0,0,0.000000
hashottuborspa,0,0.000000,0,0.0,162106,97.664807
heatingorsystemtypeid,0,0.000000,0,0.0,60365,36.368401
latitude,0,0.000000,0,0.0,0,0.000000
longitude,0,0.000000,0,0.0,0,0.000000
lotsizesquarefeet,17989,10.837922,0,0.0,0,0.000000
...,...,...,...,...,...,...
rawcensustractandblock,0,0.000000,0,0.0,0,0.000000
regionidcity,0,0.000000,0,0.0,3146,1.895386
regionidcounty,0,0.000000,0,0.0,0,0.000000
regionidneighborhood,0,0.000000,0,0.0,99515,59.955296
regionidzip,0,0.000000,0,0.0,59,0.035546
roomcnt,0,0.000000,0,0.0,0,0.000000
storytypeid,0,0.000000,0,0.0,165892,99.945777
threequarterbathnbr,143906,86.699763,0,0.0,0,0.000000
typeconstructiontypeid,0,0.000000,0,0.0,165460,99.685508
unitcnt,57757,34.797147,0,0.0,0,0.000000
yardbuildingsqft17,160959,96.973768,0,0.0,0,0.000000
yardbuildingsqft26,165818,99.901194,0,0.0,0,0.000000
yearbuilt,156,0.093986,0,0.0,0,0.000000
numberofstories,128289,77.290911,0,0.0,0,0.000000
fireplaceflag,0,0.000000,0,0.0,165588,99.762625
structuretaxvaluedollarcnt,158,0.095191,0,0.0,0,0.000000
taxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
assessmentyear,0,0.000000,0,0.0,0,0.000000
landtaxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
taxamount,11,0.006627,0,0.0,0,0.000000
taxdelinquencyflag,0,0.000000,0,0.0,161347,97.207529
taxdelinquencyyear,161347,97.207529,0,0.0,0,0.000000
censustractandblock,459,0.276536,0,0.0,0,0.000000
airconditioningdesc,112271,67.640467,0,0.0,0,0.000000
architecturalstyledesc,165514,99.718042,0,0.0,0,0.000000
buildingclassdesc,165966,99.990360,0,0.0,0,0.000000
propertylandusedesc,0,0.000000,0,0.0,0,0.000000
storydesc,165892,99.945777,0,0.0,0,0.000000
typeconstructiondesc,165460,99.685508,0,0.0,0,0.000000
heatingorsystemdesc,60365,36.368401,0,0.0,0,0.000000

In [66]:
# cutoff: columns that have 50% or more null values will be removed
df = df.drop(columns=['airconditioningtypeid', 'architecturalstyletypeid', 'buildingclasstypeid',
                      'decktypeid', 'basementsqft', 'hashottuborspa', 'storydesc', 'typeconstructiondesc',
                      'storytypeid', 'typeconstructiontypeid', 'taxdelinquencyflag',])
df = df.drop(columns=['finishedfloor1squarefeet', 'finishedsquarefeet13', 'finishedsquarefeet15',
             'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt',
             'garagetotalsqft', 'threequarterbathnbr', 'yardbuildingsqft17', 'yardbuildingsqft26',
             'numberofstories', 'taxdelinquencyyear', 'airconditioningdesc',
             'architecturalstyledesc', 'buildingclassdesc'])

In [69]:
df = df.drop(columns=['poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
                      'regionidneighborhood', 'fireplaceflag'])

In [74]:
missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_value,nan_percentage
parcelid,0,0.000000,0,0.0,0,0.000000
logerror,0,0.000000,0,0.0,0,0.000000
transactiondate,0,0.000000,0,0.0,0,0.000000
id,0,0.000000,0,0.0,0,0.000000
bathroomcnt,0,0.000000,0,0.0,0,0.000000
bedroomcnt,0,0.000000,0,0.0,0,0.000000
buildingqualitytypeid,0,0.000000,0,0.0,59043,35.571929
calculatedbathnbr,115,0.069285,0,0.0,0,0.000000
calculatedfinishedsquarefeet,27,0.016267,0,0.0,0,0.000000
finishedsquarefeet12,6721,4.049234,0,0.0,0,0.000000
fips,0,0.000000,0,0.0,0,0.000000
fullbathcnt,115,0.069285,0,0.0,0,0.000000
heatingorsystemtypeid,0,0.000000,0,0.0,60365,36.368401
latitude,0,0.000000,0,0.0,0,0.000000
longitude,0,0.000000,0,0.0,0,0.000000
lotsizesquarefeet,17989,10.837922,0,0.0,0,0.000000
propertycountylandusecode,1,0.000602,0,0.0,0,0.000000
propertylandusetypeid,0,0.000000,0,0.0,0,0.000000
propertyzoningdesc,57877,34.869444,0,0.0,0,0.000000
rawcensustractandblock,0,0.000000,0,0.0,0,0.000000
regionidcity,0,0.000000,0,0.0,3146,1.895386
regionidcounty,0,0.000000,0,0.0,0,0.000000
regionidzip,0,0.000000,0,0.0,59,0.035546
roomcnt,0,0.000000,0,0.0,0,0.000000
unitcnt,57757,34.797147,0,0.0,0,0.000000
yearbuilt,156,0.093986,0,0.0,0,0.000000
structuretaxvaluedollarcnt,158,0.095191,0,0.0,0,0.000000
taxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
assessmentyear,0,0.000000,0,0.0,0,0.000000
landtaxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
taxamount,11,0.006627,0,0.0,0,0.000000
censustractandblock,459,0.276536,0,0.0,0,0.000000
propertylandusedesc,0,0.000000,0,0.0,0,0.000000
heatingorsystemdesc,60365,36.368401,0,0.0,0,0.000000

In [75]:
# remove the rows or columns of any that cannot be reasonably imputed.
df = df.drop(columns=['buildingqualitytypeid', 'heatingorsystemtypeid', 'propertyzoningdesc',
                      'unitcnt', 'heatingorsystemdesc'])

In [76]:
missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_value,nan_percentage
parcelid,0,0.000000,0,0.0,0,0.000000
logerror,0,0.000000,0,0.0,0,0.000000
transactiondate,0,0.000000,0,0.0,0,0.000000
id,0,0.000000,0,0.0,0,0.000000
bathroomcnt,0,0.000000,0,0.0,0,0.000000
bedroomcnt,0,0.000000,0,0.0,0,0.000000
calculatedbathnbr,115,0.069285,0,0.0,0,0.000000
calculatedfinishedsquarefeet,27,0.016267,0,0.0,0,0.000000
finishedsquarefeet12,6721,4.049234,0,0.0,0,0.000000
fips,0,0.000000,0,0.0,0,0.000000
fullbathcnt,115,0.069285,0,0.0,0,0.000000
latitude,0,0.000000,0,0.0,0,0.000000
longitude,0,0.000000,0,0.0,0,0.000000
lotsizesquarefeet,17989,10.837922,0,0.0,0,0.000000
propertycountylandusecode,1,0.000602,0,0.0,0,0.000000
propertylandusetypeid,0,0.000000,0,0.0,0,0.000000
rawcensustractandblock,0,0.000000,0,0.0,0,0.000000
regionidcity,0,0.000000,0,0.0,3146,1.895386
regionidcounty,0,0.000000,0,0.0,0,0.000000
regionidzip,0,0.000000,0,0.0,59,0.035546
roomcnt,0,0.000000,0,0.0,0,0.000000
yearbuilt,156,0.093986,0,0.0,0,0.000000
structuretaxvaluedollarcnt,158,0.095191,0,0.0,0,0.000000
taxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
assessmentyear,0,0.000000,0,0.0,0,0.000000
landtaxvaluedollarcnt,2,0.001205,0,0.0,0,0.000000
taxamount,11,0.006627,0,0.0,0,0.000000
censustractandblock,459,0.276536,0,0.0,0,0.000000
propertylandusedesc,0,0.000000,0,0.0,0,0.000000

In [72]:
def missing_values_row(df):
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})

missing_values_row(df)

       num_missing  percentage
0                0    0.000000
1                4   11.764706
2                0    0.000000
3                0    0.000000
4                3    8.823529
5                0    0.000000
6                0    0.000000
7                4   11.764706
8                4   11.764706
9                4   11.764706
10               0    0.000000
11               0    0.000000
12               0    0.000000
13               4   11.764706
14               3    8.823529
15               2    5.882353
16               3    8.823529
17               0    0.000000
18               3    8.823529
19               0    0.000000
20               0    0.000000
21               3    8.823529
22               3    8.823529
23               0    0.000000
24               3    8.823529
25               0    0.000000
26               0    0.000000
27               3    8.823529
28               0    0.000000
29               0    0.000000
...            ...         ...
77582            0    0.000000
77583            0    0.000000
77584            0    0.000000
77585            0    0.000000
77586            0    0.000000
77587            0    0.000000
77588            0    0.000000
77589            0    0.000000
77590            0    0.000000
77591            0    0.000000
77592            1    2.941176
77593            0    0.000000
77594            0    0.000000
77595            0    0.000000
77596            0    0.000000
77598            0    0.000000
77599            0    0.000000
77600            0    0.000000
77601            0    0.000000
77602            1    2.941176
77603            0    0.000000
77604            0    0.000000
77605            0    0.000000
77606            0    0.000000
77607            0    0.000000
77608            0    0.000000
77609            0    0.000000
77610            3    8.823529
77611            0    0.000000
77612            0    0.000000

[165982 rows x 2 columns]

In [ ]:
def fill_with_zeroes(df, *cols):
    for col in cols:
        df[col] = df[col].fillna(0)
    return df

fill_with_zeroes(df, '')

In [ ]:
# cutoff: columns that have 50% or more null values will be removed
df = df.drop(columns=['basementsqft', '', '',
                      '', '', '',
                      '', '', '',
                      '', '', '',
                      '', '', '',])

In [36]:
df.shape

(165982, 52)

In [41]:
missing_values_col(df)

                              num_missing  percentage  num_empty  nan_value
parcelid                                0    0.000000          0          0
logerror                                0    0.000000          0          0
transactiondate                         0    0.000000          0          0
id                                      0    0.000000          0          0
airconditioningtypeid                   0    0.000000          0     112271
architecturalstyletypeid                0    0.000000          0     165514
basementsqft                       165892   99.945777          0          0
bathroomcnt                             0    0.000000          0          0
bedroomcnt                              0    0.000000          0          0
buildingclasstypeid                     0    0.000000          0     165966
buildingqualitytypeid                   0    0.000000          0      59043
calculatedbathnbr                     115    0.069285          0          0
decktypeid                              0    0.000000          0     164720
calculatedfinishedsquarefeet           27    0.016267          0          0
finishedsquarefeet12                 6721    4.049234          0          0
fips                                    0    0.000000          0          0
fullbathcnt                           115    0.069285          0          0
hashottuborspa                          0    0.000000          0     162106
heatingorsystemtypeid                   0    0.000000          0      60365
latitude                                0    0.000000          0          0
longitude                               0    0.000000          0          0
lotsizesquarefeet                   17989   10.837922          0          0
poolcnt                            131960   79.502597          0          0
poolsizesum                        164156   98.899881          0          0
pooltypeid10                            0    0.000000          0     164358
pooltypeid2                             0    0.000000          0     163730
pooltypeid7                             0    0.000000          0     134233
propertycountylandusecode               1    0.000602          0          0
propertylandusetypeid                   0    0.000000          0          0
propertyzoningdesc                  57877   34.869444          0          0
rawcensustractandblock                  0    0.000000          0          0
regionidcity                            0    0.000000          0       3146
regionidcounty                          0    0.000000          0          0
regionidneighborhood                    0    0.000000          0      99515
regionidzip                             0    0.000000          0         59
roomcnt                                 0    0.000000          0          0
storytypeid                             0    0.000000          0     165892
typeconstructiontypeid                  0    0.000000          0     165460
unitcnt                             57757   34.797147          0          0
yearbuilt                             156    0.093986          0          0
fireplaceflag                           0    0.000000          0     165588
structuretaxvaluedollarcnt            158    0.095191          0          0
taxvaluedollarcnt                       2    0.001205          0          0
assessmentyear                          0    0.000000          0          0
landtaxvaluedollarcnt                   2    0.001205          0          0
taxamount                              11    0.006627          0          0
taxdelinquencyflag                      0    0.000000          0     161347
censustractandblock                   459    0.276536          0          0
propertylandusedesc                     0    0.000000          0          0
storydesc                          165892   99.945777          0          0
typeconstructiondesc               165460   99.685508          0          0
heatingorsystemdesc                 60365   36.368401          0          0