In [10]:
def get_connection(db, user, host, password):
    from sqlalchemy import create_engine
    url = f'mysql+pymysql://{user}:{password}@{host}/ada_students'
    return create_engine(url)

In [11]:
from env import user, host, password

In [12]:
import pandas as pd
conn = get_connection('ada_students', user, host, password)

In [18]:
sql_df = pd.read_sql('SELECT first_name, last_name FROM student_groups as g JOIN students as s ON g.student_id = s.student_id WHERE group_id = 8;', conn)

In [19]:
print(sql_df)

  first_name last_name
0    Matthew    Zapata
1    Kathryn     Salts
2    Michael     Moran
3    Ednalyn   De Dios